#canvasDiv {
    margin: auto;
    border: 3px dashed #ccc;
    width: 280px;
    height: 280px;
    margin-top: 20px;
}

#controls {
    margin: auto;
    margin-top: 20px;
    height: 50px;
    width: 280px;
    text-align: center;
}

#clearCanvasButton, #predictButton {
    width: 100px;
}

#predictionResult {
    margin: auto;
    margin-top: 20px;
    height: 280px;
    width: 280px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 200px;
}